---
// src/components/Giscuss.astro
---

<section class="giscuss-container">
  <script src="https://giscus.app/client.js"
        data-repo="97kuek/my-portfolio"
        data-repo-id="R_kgDOQplb-w"
        data-category="Announcements"
        data-category-id="DIC_kwDOQplb-84Cz9NZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ja"
        crossorigin="anonymous"
        async>
  </script>
</section>

<style>
  .giscuss-container {
    margin-top: 3rem;
    width: 100%;
  }
</style>